{% extends 'base.html.twig' %}

{% block title %}Edit MatchDay{% endblock %}

{% block body %}
    <h1>Edit MatchDay</h1>

    {{ include('match_day/_form.html.twig', {'button_label': 'Update'}) }}
    
    <a class="btn btn-secondary mt-1" href="{{ path('home') }}">back to home</a>

{% endblock %}
